<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "FLIGHT-BOOKER", root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
